@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700& display=swap');

:root{
  --main-color: #ebedeb;
  --black: #13131a;
  --bg: #ffffff;
  --green: #00a96c;
  --border: .3rem solid rgba(255, 255, 255, .3)
}
*{ 
  font-family: 'Roboto',  sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
}
.button{
  text-align: center;
  color: white;
  background: var(--green);
  border-radius: .2rem;
  padding: .5rem 2rem;
}

/* -- Header section -- */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #ebeeec 0% 50%, #f4f2ee 50% 70%, #f4f3ef 70% 80%, #f6f4f0 80% 100%);
  height: 8rem;
  position: relative;
}

.header a img{
  width: 20rem;
}

.header .navbar{
  margin-right: 12rem;
}

.header .navbar a{
  margin-right: 3rem;
  color: var(--black);
  position: relative;
}

.header .navbar a::after{
  content: '';
  width: 0;
  height: 3px;
  background: var(--green);
  position: absolute;
  left: 0;
  bottom: -6px; 
  transition: 0.5s;
}

.header .navbar a:hover::after{
  width: 70%;
}

/* -- home section -- */

.home{
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #f1f0ed 0% 50%, #f3f2ee 50% 70%, #f4f3ef 70% 80%, #f6f4f0 80% 100%);
}

.home .left-box{
  margin-left: 5rem;
}

.home .left-box h2{
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4.5rem;
  text-transform: none;
}

.home .left-box p{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: none;
  line-height: 1.5rem;
}

.home .left-box .search-form input{
  position: relative;
  width: 20rem;
  height: 3rem;
  margin-bottom: 5rem;
  padding-left: 1rem;
}

.home .left-box .search-form .button{
  position: relative;
  right: 30%;
}

.home .right-box .image-box{
  position: relative;
}

.home .right-box .image-box p{
  position: absolute;
  bottom: 4rem;
  margin-top: 5rem;
  padding-left: 2rem;
}

.home .right-box .image-box h6{
  position: absolute;
  bottom: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
  padding-left: 2rem;
}

/* -- Pages -- */
.pages{
  background: #fff;
  padding: 8rem 5rem;
}

.pages h1{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.pages .book-box{
  background: #fff;
  border: .1rem solid grey;
  padding: .2rem;
  position: relative;
  width: 30%;
  height: 430px;
}

.pages .book-box .image-box{
  background: #dcdad7;
  border: .1rem solid #dcdad7;
  height: 300px;
  position: relative;
}

.pages .book-box .image-box img{
  width: 150%;
  position: absolute;
  top: 10%;
  right: -25%;
  filter: drop-shadow( -40px 10px 10px rgba(0, 0, 0, 0.2));
}

.pages .book-box .image-box p{
  position: absolute;
  top:0; right: 0;
  background: #fff;
  padding: .8rem .5rem;
  font-weight: 800;
}

.pages .book-box .content{
  padding: .7rem .3rem;
}

.pages .book-box .content .heading{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.pages .book-box .content h4{
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

.pages .book-box h4::after{
  content: '';
  width: 30%;
  height: 2px;
  background: grey;
  position: absolute;
  left: 0;
  bottom: -6px; 
  transition: 0.5s;
}

.pages .book-box .content #price{
  color: var(--green);
  font-weight: bold;
  margin-top: .3rem;
}

.pages .book-box .content p{
  margin-top: 2rem;
  font-weight: light;
}

.pages .container .box{
  margin: 2rem;
}


.pages .page .container{
  display: flex;
  align-items: flex-start;
}

/*.pages .page .container .box{
  
}*/

/*  -- reviews section -- */

.reviews{
  padding: 8rem 5rem;
}

.reviews h2{
  text-align: center;
  font-size: 4rem;
}

.reviews .box-container{
  background: #fff;
  margin-top: 3rem;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  overflow-x: auto;
  padding: 1.5rem;
}

.reviews .box-container .box{
  box-shadow: 0  0 20px  0px rgba(0,0,0,0.2);
  text-align: center;
  padding: 2rem;
  flex: 0 0 25rem;
  margin-top: 3rem;
}

.reviews .box-container .box .stars{
  margin-bottom: 1.5rem;
}

.reviews .box-container .box .stars .fas{
  color: gold;
}

.reviews .box-container .box p{
  margin-bottom: 1.5rem;
}

.reviews .box-container .box .customer{
  display: flex;
  align-items: center;
}

.reviews .box-container .box .customer img{
  width: 350px;
}

.reviews .box-container .box .customer #user{
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  object-fit: cover;
}

.reviews .box-container .box .customer p{
  text-align: left;
  margin-left: 1rem;
  margin-top: 1.7rem;
}

.reviews .box-container .box .customer p #name{
  font-weight: bold;
  font-size: 1.5rem;
}

.shop{
  background: #fff;
  padding: 8rem 5rem;
}

.shop .box-container{
  display: flex;
  align-items: center;
  background: #eef1ef;
}

.shop .box-container .left-box{
  border: 1px solid black;
  flex: 0 0 50%;
  height: 21rem;
}

.shop .box-container .left-box img{
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.shop .box-container .right-box{
  flex: 0 0 50%;
  padding: 5.2rem 4rem;
}

.shop .box-container .right-box h2{
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.shop .box-container .right-box h2::after{
  content: '';
  width: 50%;
  height: 3px;
  background: var(--green);
  position: absolute;
  left: 25%;
  bottom: -6px; 
  transition: 0.5s;
}

.shop .box-container .right-box p{
  margin-bottom: 1rem;
  text-align: center;
}

.shop .box-container .right-box div{
  text-align: center;
  margin-top: 2rem;
}




